In [7]:
#importando arquivos com pandas
import pandas as pd

In [9]:
#lendo arquivo csv com pandas
path = r'C:\Users\divirgil\OneDrive - Capgemini\Desktop\Capgemini\BANCO DO BRASIL\Python\Base.csv'
df = pd.read_csv(path, encoding='utf-8', sep = ';')

In [16]:
display(df).show()

     A   B   C    D   E   F
0    1   2   3   A1  4#   3
1    2   3   4   A2  4#   4
2    3   4   5   A3  4#   5
3    4   5   6   A4  5/   6
4    5   6   7   A5  6/   7
5    6   7   8   A6   7   8
6    7   8   9   A7   8   9
7    8   9  10   A8   9  10
8    9  10  11   A9  10  11
9   10  11  12  A10  11  12
10  11  12  13  A11  12  13
11  12  13  14  A12  13  14
12  13  14  15  A13  14  15
13  14  15  16  A14  15  16
14  15  16  17  A15  16  17
15  16  17  18  A16  17  18
16  17  18  19  A17  18  19
17  18  19  20  A18  19  20
18  19  20  21  A19  20  21
19  20  21  22  A20  21  22

AttributeError: 'NoneType' object has no attribute 'show'

In [17]:
import pyspark.sql.functions as f
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'